* {
  margin: 0;
  padding: 0;
  /* font-family: Brush Script MT; */
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  background-color: black;
  color: white;
  font-size: 20px;
}

#header {
  width : 100%;
  height: 100vh;
  /* background-image: url(images/background.img); */
  /* background-size: cover; */
  /* background-position: center; */
}

#logo {
  width: 160px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 5%;
}

ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 10px 20px;
}

a {
  color: white;
  text-decoration: none;
}
