* {
  margin: 0;
  padding: 0;
  font-family: Brush Script MT;
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  background-color: black;
  color: white;
  font-size: 20px;
}

#header {
  width : 100%;
  height: 100vh;
  /* background-image: url(images/background.img); */
  /* background-size: cover; */
  /* background-position: center; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
  padding: 0px 20px;
}

a {
  text-decoration: none;
  color: white;
}
