* {
  margin: 0;
  padding: 0;
  /* font-family: Brush Script MT; */
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  /* background-color: black; */
  /* color: white; */
}

#header {
  width : 100%;
  height: 100vh;
  /* background-image: url(images/background.img); */
  /* background-size: cover; */
  /* background-position: center; */
}

#logo {
  width: 160px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 5%;
  background-color: whitesmoke;
}

ul {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 10px 20px;
}

nav ul li :hover {
  color: green;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

.header-text {
  margin: 10% 50px;
  padding: 50px;
  background-color: whitesmoke;
  font-size: 30px;
}

.header-text h1 {
  margin-top: 20px;
  font-size: 60px;
}

.header-text h1 span {
  color: skyblue;
}