* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  
}

body {
  background-color: black;
  color: white;border: 1px solid red;
}

#header {
  width : 100%;
  height: 100vh;
  /* background-image: url(images/background.img); */
  /* background-size: cover; */
  /* background-position: center; */
}